DATABASE_URL=
DATABASE_HOST=YOUR_HOST
DATABASE_PORT=5432
DATABASE_NAME=YOUR_DATABASE
DATABASE_USER=YOUR_USER
DATABASE_PASSWORD=YOUR_PASSWORD
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=true
DATABASE_MAX_CONNECTIONS=10
DATABASE_IDLE_TIMEOUT_MS=30000
DATABASE_CONNECTION_TIMEOUT_MS=10000
PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
